{% assign lang = page.lang | default: site.data.config.lang %}

{% include patterns/form-field-text.html
    class="responsible"
    name="responsible"
    help="oira.message_help_action_plan_responsible"
    label="oira.label_action_plan_responsible" %}
{% include patterns/form-field-currency.html
    class="responsible"
    name="budget"
    name="budget"
    min="16" 
    max="66" 
    help="oira.message_help_action_plan_budget"
    label="oira.label_action_plan_budget" %}
{% include patterns/form-field-date.html  
    class="planning-start"
    name="planning-start"
    id="planning-start"
    label="oira.label_action_plan_start"
    validation="not-after: #planning-end; message-date: Must be before Planning End." %}
{% include patterns/form-field-date.html  
    class="planning-end"
    name="planning-end"
    id="planning-end"
    label="oira.label_action_plan_end"
    validation="not-before: #planning-start; message-date: Must be after Planning Start." %}
