<fieldset
    class="
        measures-in-place
        pat-checklist 
        pat-clone 
        pat-autosubmit 
        pat-inject 
        pat-subform"
    data-pat-clone="
        template: #measure-template; 
        trigger-element: #clone-existing-measure; 
        remove-confirmation: Are you sure you want to remove this existing measure?"
    id="action-plan-item-form"
    data-pat-inject="
        url: {{ page.url  }}; 
        source: #slide-1; 
        target: #slide-1">
    <article 
        class="pat-rich">
        <p>
            {% if page.measures_in_place %}
                {%- include patterns/i18n sentinel=false id="label_select_or_add_existing_measures" -%}
            {% else %}
                {%- include patterns/i18n sentinel=false id="label_add_existing_measures" -%}
            {% endif %}
        </p>
    </article>
    {% for measure in page.measures_in_place %}
        <div
            class="label">
            <label
                class="label-fragment-title">
                <input
                    tabindex="0" 
                    type="checkbox"
                    name="existing-measures"
                    {% if measure.state == 'checked' %}checked{% endif %} />
                    {{ measure.label }}
            </label>
            {% if measure.description %}
                {% unless measure.description == blank %}
                    {% unless measure.description == nil %}
<div 
    class="
        label-fragment-description 
        pat-rich"><pre class="pat-markdown">
{{ measure.description }}</pre>
                </div>
                    {% endunless %}
                {% endunless %}
            {% endif %}
        </div>
    {% endfor %}
    {% for measure in page.measures_in_place_user_added %}
        <div
            class="
                clone 
                label">
            <input
                tabindex="0" 
                type="checkbox"
                name="existing-measures"
                disabled
                checked />
            <div 
                class="
                    pat-rich-editor 
                    pat-rich 
                    toolbar-detached">
                {% capture this_placeholder %}{{ site.data.oira.ui.describe_new_measure[site.lang] }}{% endcapture %}
                {% include patterns/rich-editor.html
                    placeholder=this_placeholder
                    toolbar="assessment-toolbar"
                    link-panel="#pat-modal.panel-hyperlink"
                    link-menu="/feedback/hyperlink-menu#document-content"
                    autofocus=false
                    placeholder=this_placeholder %}
            </div>
            <button
                tabindex="0" 
                class="
                    icon-trash 
                    iconified 
                    remove-clone"
                title="{{ site.data.oira.ui.remove_measure[site.lang] }}">{{ site.data.oira.ui.remove[site.lang] }}</button>
        </div>
    {% endfor %}
</fieldset>

<div
    class="
        button-bar 
        cloning">
    <button
        tabindex="0" 
        class="add-clone pat-button icon-plus"
        id="clone-existing-measure"
        title="Add another measure"
        type="button">{% if page.measures_in_place %}{{ site.data.oira.ui.add_missing_existing_measure[site.lang] }}{% else %}{{ site.data.oira.ui.add_existing_measure[site.lang] }}{% endif %}</button>
</div>

<template 
    id="measure-template">
    <fieldset 
        class="clone label">
        <input
            type="checkbox"
            name="existing-measures-check-1"
            disabled
            checked />
        <div 
            class="pat-rich-editor pat-rich toolbar-detached">
            {% capture this_placeholder %}{{ site.data.oira.ui.describe_new_measure[site.lang] }}{% endcapture %}
            {% include patterns/rich-editor.html
                autofocus=true
                textarea_name="measure-rich-1"
                placeholder=this_placeholder
                toolbar="assessment-toolbar"
                link-panel="#pat-modal.panel-hyperlink"
                link-menu="/feedback/hyperlink-menu#document-content"
                placeholder=this_placeholder %}
        </div>
        <button
            class="icon-trash iconified remove-clone"
            title="{{ site.data.oira.ui.remove_measure[site.lang] }}">{{ site.data.oira.ui.remove[site.lang] }}</button>
    </fieldset>
</template>

<fieldset
    class="pat-checklist radio">
    <legend>
        {{ site.data.oira.ui.question_measures_sufficient[site.lang] }}
    </legend>
    <label
        class="no">
        <input
            tabindex="0"
            type="radio"
            name="answer"
            value="no"
            {% if page.classes contains 'answered' and page.classes contains 'risk' %}checked="checked"{% endif %}
        />
        {{ site.data.oira.ui.no_measures_required[site.lang] }}
    </label>
    <label
        class="yes">
        <input
            tabindex="0"
            type="radio"
            name="answer"
            value="yes"
            {% if page.classes contains 'risk' %}
            {% else %}
                {% if page.classes contains 'answered' %}checked="checked"{% endif %}
            {% endif %}
        />
        {{ site.data.oira.ui.yes_acceptable[site.lang] }}
    </label>
    <label
        class="not-applicable">
        <input
            tabindex="0"
            type="radio"
            name="answer"
            value="na"
            {% if page.classes contains 'postponed' %}checked{% endif %} />
        {{ site.data.oira.ui.not_applicable[site.lang] }}
    </label>
</fieldset>