<ol 
    class="risk-tree pat-navigation">
    {% for module in site.tools %}
        {% if module.layout contains 'module' or module.layout contains 'profile-question' %}
            {% unless module.url contains '-state-' %}
                {% unless module.parent_id %}
                    <li>
                        <a 
                            class="
                                {% if module.layout contains 'module' %}
                                    module
                                {% elsif module.layout contains 'profile-question' %}
                                    profile-question
                                {% endif %} 
                                pat-inject"
                            data-pat-inject="
                                    history: record"
                            href="{{ module.url }}#document-body-{{ layout.application }}">
                            <span 
                                class="title">
                                {{ module.title }}
                            </span>
                        </a>
                        <ol>
                            {% for sub in site.tools %}
                                {% if sub.parent_id == module.fid %}
                                    {% unless sub.url contains '-state-' %}
                                        <li>
                                            {% if sub.layout contains 'module' %}
                                                {% assign this_type = 'module' %}
                                            {% elsif sub.layout contains 'profile-question' %}
                                                {% assign this_type = 'profile-question' %}
                                            {% else %}
                                                {% assign this_type = 'risk' %}
                                            {% endif %}
                                            <a 
                                                class="
                                                    {{ this_type }} 
                                                    pat-inject"
                                                data-pat-inject="
                                                    history: record"
                                                href="{{ sub.url }}#document-body-{{ layout.application }}">
                                                <span 
                                                    class="title">
                                                    {{ sub.title }}
                                                </span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </li>
                {% endunless %}
            {% endunless %}
        {% endif %}
    {% endfor %}
</ol>