<div 
    class="pat-rich">
    {% if page.measures_in_place %}
        {% if page.solutions  %}
            <!-- When there are possible measures in place present and standard measures are available: -->
            <p>
                Select or describe any further measure to reduce the risk.
            </p>
        {% else %}
            <!-- When there are possible measures in place present and no standard measures are available:  -->
            <p>
                Describe any further measure to reduce the risk.
            </p>
        {% endif %}
    {% else %}
        {% if page.solutions %}
            <!-- When there are no possible measures in place present but standard measures are present:  -->
            <p>
                Select or describe the specific measures required to reduce the risk.
            </p>
        {% else %}
            <!-- When there are no possible measures in place present and no standard measures are available:  -->
            <p>
                Describe the specific measures required to reduce the risk.
            </p>
        {% endif %}
    {% endif %}
</div>

{% include oira/add-measures.html %}