<!-- <oira-tool-table> -->
    <table 
        id="panel-tool-table"
        class="
            oira-tool-table
            pat-checklist
            pat-table">
        <tbody
            id="panel-tool-table-body">
            {% for item in site.tools %}
                {% if item.layout == 'tool' %}
                    <tr>
                        <th 
                            class="item-name">
                            <label>
                                <strong 
                                    class="
                                        name
                                        value"> 
                                    {% include oira/tool-icon.html %}
                                    <span 
                                        class="link-title">
                                        <span 
                                            class="title">
                                            {{ item.title }}
                                        </span>
                                        {% if item.tags %}
                                            <span 
                                                class="
                                                    byline
                                                    pat-comma-separated">
                                                {% for tag in item.tags %}
                                                    <span class="segment">{{ tag }}</span>
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                        {% if item.summary %}
                                            <span 
                                                class="description">
                                                {{ item.summary }}
                                            </span>
                                        {% endif %}
                                    </span>
                                </strong>
                                <input 
                                    name="{{ page.title | remove: 'label_' | slugify }}"
                                    value="{{ item.value | slugify }}"
                                    required
                                    type="radio">
                            </label>
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr
                id="panel-tool-table-load-more">
                <td 
                    colspan="1">
                    <a 	
                        class="
                            pat-inject 
                            infinite-scrolling-trigger" 
                        data-pat-inject="
                            source: #panel-tool-table-body; 
                            target: #panel-tool-table-load-more::element;
                            trigger: autoload-visible"
                        href="{{ page.url }}">{%- include patterns/i18n id="label_loading" -%}</a>
                </td>
            </tr>
        </tbody>
    </table>
<!-- </oira-tool-table> -->